absl-py==0.7.0
asn1crypto==0.24.0
astor==0.7.1
atari-py==0.1.7
atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
baselines==0.1.5
bleach==3.1.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudpickle==0.5.5
colorama==0.4.1
conda==4.6.1
cryptography==2.4.2
cycler==0.10.0
Cython==0.29.3
dask==0.19.0
decorator==4.3.0
dill==0.2.9
entrypoints==0.3
enum34==1.1.6
filelock==3.0.10
Flask==1.0.2
flatbuffers==1.10
funcsigs==1.0.2
future==0.17.1
gast==0.2.2
glfw==1.7.0
grpcio==1.18.0
gym==0.10.9
-e git+https://github.com/vivek3141/rubiks-cube-ai.git@754eccbd2beacad0f3c6441f719edcf93fc6763f#egg=gym_Rubiks_Cube&subdirectory=env
h5py==2.7.1
html5lib==0.9999999
idna==2.8
imageio==2.4.1
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.10
joblib==0.13.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kaggle==1.5.1.1
Keras==2.1.5
kiwisolver==1.0.1
livelossplot==0.3.0
lockfile==0.12.2
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==2.2.2
mistune==0.8.4
mkl-fft==1.0.6
mkl-random==1.0.2
more-itertools==5.0.0
mpi4py==3.0.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
notebook==5.7.4
numpy==1.16.0
olefile==0.46
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
pluggy==0.8.1
progressbar2==3.39.2
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.6.1
psutil==5.5.0
ptyprocess==0.6.0
py==1.7.0
pycosat==0.6.3
pycparser==2.18
pycuber==0.2.2
pyglet==1.3.2
Pygments==2.3.1
PyOpenGL==3.1.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
PySocks==1.6.8
pytest==4.1.1
python-dateutil==2.7.5
python-slugify==2.0.1
python-utils==2.3.0
pytz==2018.4
PyWavelets==1.0.0
PyYAML==4.2b4
pyzmq==17.1.2
qtconsole==4.4.3
ray==0.6.2
redis==3.0.1
requests==2.21.0
ruamel-yaml==0.15.35
scikit-image==0.14.0
scikit-learn==0.19.2
scipy==1.0.1
Send2Trash==1.5.0
setproctitle==1.1.10
six==1.12.0
sklearn==0.0
tensorboard==1.9.0
tensorflow==1.9.0
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
toolz==0.9.0
tornado==5.1.1
tqdm==4.30.0
traitlets==4.3.2
Unidecode==1.0.23
urllib3==1.22
virtualenv==16.0.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
zmq==0.0.0
