.App {
    margin-right: auto;
    margin-left: auto;
}

.input-field > label {
    position: inherit;
}

.content-container {
    height: 900px;
    overflow-y: scroll;
    padding-right:15px;
    border: 1px black;
}

.content-container > .row {
    width: inherit;
} 

#root {
    height: 900px;
    overflow-y: scroll;
    padding-right:100px;
    padding-left: 100px;
    border: 1px black;
}
